<article class="storeBox" data-id="{{_id}}">
    <header id="titleBox">
       <h1>{{title}}</h1>
        {{#if isAuthor }}
        <div id="boxControler">
            <button id="deleteAd">&#x2718;</button>
            <button id="editAd">&#9998;</button>
        </div>
        {{/if}}
    </header>
    <a href="#" id="readMore">
        <div id="imgContent">
            {{#if img}}
            <img src={{{img}}}>
            {{else}}
            No image.
            {{/if}}
        </div>
    </a>
    <footer>
        <div id="priceContent">
            Price: {{price}}
        </div>
    </footer>
</article>